# Ignora questi file specifici e cartelle

# Evita file temporanei e segreti
*.log
*.bak
.env
*.tmp
secrets/
*.swp

# Ignora file di sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignora file di backup
*.tmp
*.old
*.orig
*.swp

# Ignora file di configurazione dell'IDE
*.iml
*.sublime-project

# Ignora file di log
*.log

# Ignora file di cache
.cache/
   
